<div class="modal fade" id="modalApoiadores" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-3 rounded">
            <div class="modal-header border-0">
                <h5 class="modal-title col-10 offset-1 text-center">Apoiadores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center m-2">
                    <img src="/images/dentista.png" alt="Dentista" class="img-fluid w-50 h-50" />
                    <div class="flex-column ml-2 text-left">
                        <h6 class="empresa">Empresa 1</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. </p>
                    </div>
                </div>
                <div class="d-flex align-items-center m-2">
                    <img src="/images/loja.png" alt="Loja" class="img-fluid w-50 h-50" />
                    <div class="flex-column ml-2 text-left">
                        <h6 class="empresa">Empresa 2</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. </p>
                    </div>
                </div>
                <div class="d-flex align-items-center m-2">
                    <img src="/images/escola.png" alt="Escola" class="img-fluid w-50 h-50" />
                    <div class="flex-column ml-2 text-left">
                        <h6 class="empresa">Empresa 3</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. </p>
                    </div>
                </div>
                <div class="d-flex align-items-center m-2">
                    <img src="/images/pare.png" alt="Auto-Escola" class="img-fluid w-50 h-50" />
                    <div class="flex-column ml-2 text-left">
                        <h6 class="empresa">Empresa 4</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>