<div class="modal fade" id="modalEventos" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-3 rounded">
            <div class="modal-header border-0">
                <h5 class="modal-title col-10 offset-1 text-center">Agenda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h6>10/10/2021 10:00 - Evento 1</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat odit fugiat aliquam doloremque nemo
                    consectetur accusantium, mollitia, ab rem nostrum accusamus delectus harum ipsa! Libero impedit animi
                    unde qui ipsa?
                </p>
                <h6>11/10/2021 10:00 - Evento 2</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat odit fugiat aliquam doloremque nemo
                    consectetur accusantium, mollitia, ab rem nostrum accusamus delectus harum ipsa! Libero impedit animi
                    unde qui ipsa?
                </p>
                <h6>12/10/2021 10:00 - Evento 3</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat odit fugiat aliquam doloremque nemo
                    consectetur accusantium, mollitia, ab rem nostrum accusamus delectus harum ipsa! Libero impedit animi
                    unde qui ipsa?
                </p>
            </div>
        </div>
    </div>
</div>